{% extends "base.html" %}
{% block content %}
<section class="hero">
    <h1>✨ Bienvenue chez MATU <span>DÉCOR</span></h1>
    
    <p>
        Nous transformons vos idées en décorations élégantes et uniques 
        pour tous vos événements et espaces.
    </p>
    
    <ul>
        <li>🎉 Mariages | Anniversaires | Fêtes</li>
        
    </ul>
    
    <p class="slogan">
         <strong>Matu Décor, l’art de sublimer vos moments.</strong>
    </p>
</section>

<p>Location de chaises et décoration événementielle</p>


<a href="https://wa.me/243895715240">Commander sur Whatsapp</a>

{% endblock %}